/*=========Footer CSS============*/
.footer_container {
  width: 1280px;
  margin: 0 auto;
}
.mainFooter {
  &.b2c {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    .footer__mainWrap {
      display: flex;
      align-items: center;
      &--listhead {
        text-transform: initial;
        font-size: 1.6rem;
        color: #333;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      &--menusection {
        width: 100%;
      }
      &--menuwrap {
        width: 100%;
        text-align: center;
      }
      &--menulist {
        margin: 0;
      }
      &--anchor-link {
        color: #333;
        transition: all 0.3s;
        &:hover {
          transition: all 0.3s;
          transform: scale(1.01);
        }
      }
      &--img {
        max-width: 100%;
      }
    }
  }
  &.b2b {
    background-color: #2e2e34;
    color: #fff;
    .footer__mainWrap {
      padding: 40px 0;
    }
  }
}
.footer__topwrap {
  background-color: #40424b;
  padding: 20px 0;
  box-sizing: border-box;
  color: #fff;
    &--helphead {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 26px;
      color: #fff;
    }
    &--contacthead {
      margin-top: 0;
      margin-bottom: 0;
      color: #fff;
    }
    &--leftside {
      display: inline-block;
      width: 60%;
      box-sizing: border-box;
      vertical-align: top;
    }
    &--rightside {
      display: inline-block;
      width: 40%;
      box-sizing: border-box;
      vertical-align: top;
    }
    &--detailbox {
      background: #51545d;
      padding: 20px;
      border-radius: 3px;
    }
    &--detailleft {
      display: inline-block;
      width: 50%;
      box-sizing: border-box;
      vertical-align: top;
      border-right: 1px solid #fff;
    }
    &--detailright {
      display: inline-block;
      width: 50%;
      box-sizing: border-box;
      vertical-align: top;
      padding-left: 10px;
    }
    &--companylogo {
      color: #fff;
    }
}

/*========Footer Main ========*/
.footer__mainWrap {
    &--footerlogo {
      max-width: 287px;
      max-height: 75px;
    }
    &--logosection {
      display: inline-block;
      box-sizing: border-box;
      width: 25%;
      vertical-align: top;
    }
    &--menusection {
      display: inline-flex;
      box-sizing: border-box;
      width: 75%;
      vertical-align: top;
    }
    &--menuul {
      width: 100%;
      padding: 0;
      list-style: none;
    }
    &--listhead {
      color: #999;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
    }
    &--menulist {
      margin: 15px 0;
    }
    &--menuwrap {
      width: 100%;
      box-sizing: border-box;
      font-size: 13px;
      vertical-align: top;
    }
    &--anchor-link {
      color: #fff;
    }
    &--socialMenu {
      display: inline-flex;
    }
    &--socialLink {
      background: #d2d2d2;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      font-size: 1.8rem;
      margin-right: 10px;
      &:hover {
        transition: all 0.5s;
        transform: scale(1.2);
        background: #333;
        color: #fff;
      }
    }
}



@media only screen and (max-width: 600px) {
  .footer_container {
    width: 100%;
  }
  .footer__topwrap {
    &--leftside {
      display: block;
      width: 100%;
      text-align: center;
    }
    &--rightside {
      display: block;
      width: 100%;
      padding: 10px;
    }
  }
    .footer__mainWrap {
      &--logosection {
        text-align: center;
        width: 100% ;
        margin-bottom: 10px;
      }
      &--menusection {
        width: 100% ;
        padding: 10px;
        text-align: center;
        flex-wrap: wrap;
      }
      &--menuwrap {
        width: 50% ;
      }
    }
    .mainFooter {
      &.b2c {
        .footer__mainWrap {
          flex-wrap: wrap;
          &--menuwrap {
            width: 100%;
          }
        }
      }
      &.b2b {
        .footer__mainWrap {
          padding: 40px 10px;
          text-align: center;
        }
      }
    }
}
